<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437167036081-ukbi2209diu2f12ko8k9r1b73u3eihda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437167036081-ukbi2209diu2f12ko8k9r1b73u3eihda</string>
	<key>API_KEY</key>
	<string>AIzaSyA1c9NpIG-z91_dHmt0DnXGIpoY7TMcEp0</string>
	<key>GCM_SENDER_ID</key>
	<string>437167036081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMe</string>
	<key>PROJECT_ID</key>
	<string>flutterme-e9451</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterme-e9451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437167036081:ios:d5b48629cd8020ae91b490</string>
</dict>
</plist>